@charset "UTF-8";

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    color: #333;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* ヘッダーのスタイル */

.header {
    position: fixed;
    top: 0;
    right: 4%;
    left: 4%;
    z-index: 1;
    width: -webkit-fill-available;
    color: #005BAC;
    text-wrap: nowrap;
}


@media (min-width: 768px) {
    .header {
        position: fixed;
        z-index: 1;
        display: flex;
        align-items: center;
        height: 103px;
        margin-left: 15.7%;
        background-color: #fff;
    }
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

@media (min-width: 768px) {
    .header__inner {
        justify-content: start;
        width: 62.5%;
        max-width: 1200px;
        background-color: #fff;
    }
}

.header__title {
    font-family: poppins;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .header__title {
        font-size: 1.6vw;
    }
}

.burger-menu__btn {
    position: absolute;
    right: 0;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: #005BAC;
}

@media (min-width: 768px) {
    .burger-menu__btn {
        display: none;
    }
}

.burger-menu__bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 0 auto;
    background-color: #fff;
}

.burger-menu__bar:not(:last-child) {
    margin-bottom: 5px;
}

.burger-menu {
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 1;
    visibility: hidden;
    height: 331px;
    background-color: #005BAC;
    opacity: 0;
    transition: all 0.2s;
}

.burger-menu a {
    color: #fff;
}

@media (min-width: 768px) {
    .burger-menu a {
        color: #333;
    }
}

.burger-menu-active {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 768px) {
    .burger-menu {
        position: static;
        display: flex;
        visibility: visible;
        height: 70px;
        margin-left: 17.7%;
        background-color: #fff;
        opacity: 1;
    }

}

.button-icon {
    margin-right: 9px;
    font-size: 18px;

}

.burger-menu__list {
    width: 100vw;
    padding-left: 18px;
}

@media (min-width: 768px) {
    .burger-menu__list {
        display: flex;
        column-gap: 12.4%;
        align-items: center;
        justify-content: flex-start;
        width: 62.5%;
        background-color: #fff;
    }
}


.burger-menu__list li {
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: start;
    border-bottom: 1px solid #fff;
}

@media (min-width: 768px) {
    .burger-menu__list li .burger-arrow {
        display: none;
    }
}

@media (min-width: 768px) {
    .burger-menu__list li {
        padding: 0;
        font-size: 0.92vw;
        letter-spacing: 1.8px;
    }
}


.burger-menu_apply__btn .apply_btn {
    display: flex;
    justify-content: center;
    width: 93.74%;
    height: 66px;
    padding-top: 20px;
    margin: 32px 5px;
    font-size: 16px;
    font-weight: bold;
    color: #005BAC;
    letter-spacing: 1.8px;
    text-wrap: nowrap;
    background: none;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 33px;
}

@media (min-width: 768px) {
    .burger-menu_apply__btn .apply_btn {
        align-items: center;
        width: 77.7%;
        min-width: 64%;
        height: 65px;
        padding: 17px 84px;
        margin: 0;
        font-size: 0.9vw;
        color: #fff;
        text-wrap: nowrap;
        background-color: #005BAC;
    }
}

@media (min-width: 768px) {
    .burger-menu_apply__btn .apply_btn:hover {
        opacity: 0.7;
    }
}

@media (min-width: 768px) {
    .mv {
        height: 100%;
    }
}

.mv_pc {
    position: relative;
    width: 100%;
    margin: 70px 0 24px -14px;
}

@media (min-width: 768px) {
    .mv_pc {
        max-width: 100%;
        margin: 0;
        margin-top: 104px;
    }
}

.mv__inner {
    position: absolute;
    top: 0%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-top: calc(((34 / 181) * 100%));

}

@media (min-width: 768px) {
    .mv__inner {
        position: absolute;
        top: 0.9%;
        left: 20%;
        align-items: flex-start;
        min-width: 52%;
        max-width: 1200px;
        max-height: 100%;
        padding: 0;
        text-align: left;
    }
}

.mv__inner__top {
    display: flex;
    margin-top: 19%;
    margin-bottom: 14%;
}

@media (min-width: 768px) {
    .mv__inner__top {
        gap: 5%;
        width: 33%;
        max-width: 1200px;
        margin: 18.9% 2.5% 2.3%;
    }
}

.mv__inner__top__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
}

.mv__inner__top__text {
    margin-bottom: 4px;
    font-size: 11px;
    text-align: center;
}

@media (min-width: 768px) {
    .mv__inner__top__text {
        font-size: 1vw;
    }
}

.mv_no {
    font-family: Poppins;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    color: #F23397;
}

@media (min-width: 768px) {
    .mv_no {
        font-size: 2.5vw;
    }
}

.mv_number {
    font-family: Poppins;
    font-size: 34px;
    font-style: italic;
    font-weight: 400;
    color: #F23397;
}

@media (min-width: 768px) {
    .mv_number {
        font-size: 4vw;
    }
}

.mv__inner__bottom {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin-left: 18%;
}

@media (min-width: 768px) {
    .mv__inner__bottom {
        flex-wrap: nowrap;
        width: 57%;
        max-width: 1200px;
        margin-left: 2.6%;
    }
}

.mv__inner__bottom__text {
    font-size: 14px;
}

@media (min-width: 768px) {
    .mv__inner__bottom__text {
        font-size: 1.7vw;
    }
}

.mv__inner_catch-bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mv__inner__bottom__title {
    font-size: 25px;
    font-weight: bold;
    color: #005BAC;
}

.mv__inner__bottom__title-02 {
    font-size: 25px;
    font-weight: bold;
    color: #005BAC;
}

@media (min-width: 768px) {

    .mv__inner__bottom__title,
    .mv__inner__bottom__title-02 {
        font-size: 3.1vw;
    }
}

.mv__btn__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -14px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 768px) {
    .mv__btn__select {
        top: 13%;
        left: 8%;
        flex-direction: row;
        justify-content: center;
        min-width: 768px;
        margin-bottom: 29px;
        transform: translate(0.5%, -53%);
    }
}

.mv__btn__select ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    color: #fff;
}

@media (min-width: 768px) {
    .mv__btn__select ul {
        flex-direction: row;
        column-gap: 3.636%;
        width: 100%;
        max-width: 1100px;
    }
}

.mv__btn__select li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 48px;
    text-align: center;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .mv__btn__select li {
        width: 30.9%;
        height: 75px;
        font-size: 25px;
        border-radius: 40px;
    }
}

.mv__btn__select li:nth-child(1) {
    background-color: #77CB33;
}

.mv__btn__select li:nth-child(2) {
    background-color: #F6AA00;
}

.mv__btn__select li:nth-child(3) {
    background-color: #3AC8AD;
}



.mv__inner__top img {
    width: 24px;
    height: 68px;
}

@media (min-width: 768px) {
    .mv__inner__top img {
        width: 18%;
        height: 19%;
    }
}

.reason__title {
    margin-bottom: 16px;
    margin-left: -14px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .reason__title {
        margin-bottom: 29px;
        margin-left: 2px;
        font-size: 35px;
        letter-spacing: 1.6px;
    }
}

.reason-number03 {
    font-size: 40px;
    color: #F11F8D;
}

@media (min-width: 768px) {
    .reason-number03 {
        font-family: Poppins;
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.reason__content {
    padding: 0 4%;
}

@media (min-width: 768px) {
    .reason__content {
        max-width: 68.5%;
        margin: 0 auto;
    }
}


@media (min-width: 768px) {
    .reason__item {
        display: flex;
        column-gap: 3.362%;
        margin-bottom: 47px;
        align-items: center;
        justify-content: center;
    }
}

.reason__item img {
    width: 96%;
    height: auto;
}

@media (min-width: 768px) {
    .reason picture {
        flex: 1;
    }
}

@media (min-width: 768px) {
    .reason__item img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}


@media (min-width: 768px) {
    .reason__item:nth-child(2) {
        flex-direction: row-reverse;
        margin-bottom: 47px;
    }
}


@media (min-width: 768px) {
    .reason__textbox {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .reason__textbox-02 {
        width: 49.5%;
        margin-left: 0;
    }
}

.point-title {
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    color: #F11F8D;
    letter-spacing: 0.9px;
}

@media (min-width: 768px) {
    .point-title {
        margin: 4px 0 11px;
        font-size: 28px;
        line-height: 0.9;
    }
}

@media (min-width: 768px) {
    .point-title-02 {
        margin: 7px 0 9px -5px;
        font-size: 28px;
        font-weight: 400;
        line-height: 0.9;
        color: #F11F8D;
        letter-spacing: 0.5px;
    }
}

.reason-number {
    margin-left: 5px;
    font-size: 40px;
    color: #F11F8D;

}

@media (min-width: 768px) {
    .reason-number {
        font-size: 44px;
    }
}

@media (min-width: 768px) {
    .reason-number-02 {
        margin-left: 7px;
    }
}

.reason-catch {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .reason-catch {
        margin-bottom: 16px;
        font-size: 25px;
        line-height: 1.7;
        letter-spacing: -1px;
    }
}

@media (min-width: 768px) {
    .reason-catch-02 {
        margin-bottom: 13px;
        margin-left: -5px;
        letter-spacing: -0.8px;
    }
}

.reason-text {
    margin-right: 12.4px;
    margin-bottom: 34px;
    line-height: 1.74;
}

@media (min-width: 768px) {
    .reason-text {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .reason-text-02 {
        line-height: 1.7;
        letter-spacing: 0;
    }
}

.apply {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 42px 20px 10px;
    margin-left: -7px;
    line-height: 1.6;
    background-color: rgb(255 85 85 / 10%);
}

@media (min-width: 768px) {
    .apply {
        height: 229px;
        padding: 51px 0;
        margin: 0 auto;
        margin-top: 74px;
    }
}


.apply__info {
    width: 300px;
    margin-bottom: 12px;
    text-align: center;
}

@media (min-width: 768px) {
    .apply__info {
        width: 500px;
        margin-bottom: 20px;
    }
}

.apply_btn {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 67px;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2.1px;
    text-wrap: nowrap;
    background: transparent linear-gradient(90deg, #0271E0 0%, #53A2F0 100%) 0% 0% no-repeat padding-box;
    border-radius: 33px;
}

@media (min-width: 768px) {
    .apply_btn {
        justify-content: start;
        width: 358px;
        height: 75px;
        padding: 20px 69px;
        font-size: 22px;
    }
}

.apply_btn-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (min-width: 768px) {
    .apply_btn-box {
        flex-direction: row;
    }
}

.btn_freetrial {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 67px;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2.1px;
    text-wrap: nowrap;
    background: transparent linear-gradient(90deg, #F6AA00 0%, #F6AA00 100%) 0% 0% no-repeat padding-box;
    border-radius: 33px;
}

@media (min-width: 768px) {
    .btn_freetrial {
        justify-content: start;
        width: 358px;
        height: 75px;
        padding: 20px 69px;
        font-size: 22px;
    }
}

.course {
    padding: 0 5%;
    margin-bottom: 62px;
    margin-left: -14px;
}

@media (min-width: 768px) {
    .course {
        width: 68.5%;
        margin: 0 auto;
    }
}

.course__title {
    margin-top: 62px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 28px;
    text-align: center;
}

@media (min-width: 768px) {
    .course__title {
        margin-top: 71px;
        margin-bottom: 32px;
        font-size: 35px;
        letter-spacing: 1px;
    }
}

.tab-content {
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 1.25rem 1.25rem;
}

.course-tab-content-item {
    width: 100%;
}

@media (min-width: 768px) {
    .course-tab-content-item {
        width: 48.562%;
    }
}

.course-tab-content-item img {
    width: 97%;
    height: auto;
}

@media (min-width: 768px) {
    .course-tab-content-item img {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .course-tab-content-item img:hover {
        transform: scale(1.2);
    }
}

.course__name {
    display: flex;
    align-items: center;
    margin: 7px 0 26px;
}

@media (min-width: 768px) {
    .course__name {
        margin: 8px 0 31px -5px;
    }
}

.course-arrow {
    margin-right: 4.2px;
    font-size: 23px;
    color: #005BAC;
}

@media (min-width: 768px) {
    .course-arrow {
        font-size: 30px;
        font-weight: bold;
    }
}

.course-tab-content-title {
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .tab-pane {
        display: flex;
        flex-wrap: wrap;
    }
}

.tab.st-theme-basic>.tab-content>.tab-pane {
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 27px 4px;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.tab-content>.tab-pane {
        flex-direction: row;
        gap: 5.3% 2.83%;
        padding: 40px 13px;
    }
}


.st-theme-basic {
    border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
    flex-direction: row !important;
    column-gap: 32px;
    width: 96.4%;
}

@media (min-width: 768px) {
    .tab.st>.nav {
        column-gap: 75px;
        width: 100%;
    }
}

.tab.st-theme-basic>.nav {
    font-size: 18px;
    box-shadow: none;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.nav {
        font-size: 25px;
        letter-spacing: -0.7px;
    }
}

.tab.st-theme-basic>.nav .nav-link {
    height: 66px;
    padding: 24px 0 22px;
    line-height: 1;
    color: #000;
    background-color: #d8d8d8;
    border-radius: 12px 12px 0 0;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.nav .nav-link {
        padding-bottom: 16px;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    margin-left: 24px;
    font-weight: bold;
    color: #333 !important;
    background-color: #F2F9FF;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.nav .nav-link.active {
        margin-left: 0;
    }
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

.apply-02 {
    padding: 40px 20px 10px;
}

@media (min-width: 768px) {
    .apply-02 {
        padding: 53px 20px 10px;
        margin-top: 27px;
    }
}

.price {
    padding: 0 4.1%;
    margin-bottom: 60px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .price {
        width: 68.5%;
        margin: 0 auto 64px;
    }
}

.price__title {
    margin-top: 61px;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

@media (min-width: 768px) {
    .price__title {
        margin-top: 71px;
        margin-bottom: 28px;
        font-size: 37px;
    }
}

.price__table {
    width: 96%;
    height: 451px;
    border-collapse: collapse;
    border: #ccc solid 3px;
}

@media (min-width: 768px) {
    .price__table {
        width: 52%;
        height: 547px;
        margin: 0 auto;
    }
}

table td,
table th {
    border-bottom: #ccc solid 1px;
}

@media (min-width: 768px) {

    table td,
    table th {
        font-size: 20px;
    }
}

.price td {
    text-align: center;
}

.price th {
    width: 56px;
    height: 64px;
    font-weight: 400;
    border-right: 1px solid #ccc;
}

@media (min-width: 768px) {
    .price th {
        width: 46px;
        height: 77px;
        font-size: 18px;
    }
}

.year-price {
    padding: 21px 29px;
    text-align: start;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) {
    .year-price {
        padding: 0;
        padding-right: 10px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 1.3px;
    }
}

@media (min-width: 768px) {
    thead tr {
        height: 77px;
    }
}

thead th {
    font-size: 16.6px;
    font-weight: 400;
    background-color: #F5F5F5;
}

@media (min-width: 768px) {
    thead th {
        width: 24%;
    }
}

tbody td {
    font-family: poppins;
    font-size: 28px;
    color: #F23397;
    letter-spacing: 0.2px;
}

@media (min-width: 768px) {
    tbody td {
        padding: 0 12px;
        font-size: 34px;
        letter-spacing: -0.4px;
    }
}

.value {
    padding-right: 6px;
}

@media (min-width: 768px) {
    .value {
        padding-right: 15px;
    }
}

.value-last {
    padding-left: 9px;
}

.yen {
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .yen {
        font-size: 19px;
        font-weight: bold;
    }
}

.qa {
    position: relative;
}

@media (min-width: 768px) {
    .qa img {
        flex: 1;
    }
}

@media (min-width: 768px) {
    .qa img:hover {
        transform: scale(1.2);
    }
}

@media (min-width: 768px) {
    .classroom img {
        flex: 1;
    }
}

@media (min-width: 768px) {
    .classroom img:hover {
        transform: scale(1.2);
    }
}

@media (min-width: 768px) {
    .contact__box {
        display: flex;
        width: 100%;
    }
}

small {
    display: block;
    margin: 30px auto 0;
    font-size: 86%;
    text-align: center;
}

@media (min-width: 768px) {
    small {
        margin: 46px auto 0;
    }
}